*.pyc
*.pyo

*.swp

*.egg-info

loghogd_local.conf

build

debian/loghogd.debhelper.log
debian/loghogd.postinst.debhelper
debian/loghogd.postrm.debhelper
debian/loghogd.prerm.debhelper
debian/loghogd.substvars
debian/loghogd/
debian/files

.vagrant
