*.pyc
*.pyo

*.swp

*.egg-info

loghogd_local.conf

build

debian/files
debian/python-loghogd.debhelper.log
debian/python-loghogd.postinst.debhelper
debian/python-loghogd.prerm.debhelper
debian/python-loghogd.substvars
debian/python-loghogd/

