Source: loghogd
Maintainer: Igor Partola <igor@activefrequency.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.3
Homepage: https://github.com/activefrequency/loghog
Vcs-Git: git://github.com/activefrequency/loghog.git
Vcs-Browser: https://github.com/activefrequency/loghog

Package: python-loghogd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-dateutil
Description: Modern log storage/management server
 A modern log storage/management framework.
