Source: loghogd
Maintainer: Igor Partola <igor@activefrequency.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 8.0.0), python, dh-python, python-dateutil, python-setuptools
Standards-Version: 3.9.5
Homepage: https://github.com/activefrequency/loghog
Vcs-Git: git://github.com/activefrequency/loghog.git
Vcs-Browser: https://github.com/activefrequency/loghog
X-Python-Version: >= 2.7

Package: loghogd
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6.5), python (<< 2.8), python-dateutil, coreutils (>= 7.4), gzip (>= 1.3), openssl, python-setuptools
Recommends: xz-utils
Suggests: bzip2
Description: Modern log storage/management server
 A modern log storage/management framework.
